* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
}

header img:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 10vh;
    z-index: 2;
}

header img:last-of-type {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    z-index: 1;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: paleturquoise;
    z-index: 3;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h2 {
    text-align: center;
    margin-bottom: 22px;
}

body {
    font-family: Arial, sans-serif;
}

footer {
    background-color: #dbe7e6;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

label, legend {
    display: block;
    margin: 10px 0 5px;
}

label {
    display: inline-flex;
    align-items: center;
    margin: 5px 0;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 10px 0;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#userInfo {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}